<h1>Password</h1>

<div class="container">

    <div class="alert alert-warning" *ngIf="name.dirty && userPassword.dirty && passwordForm.invalid">At least both name and password must be filled in</div>

    <form (ngSubmit)="!passwordForm.invalid && savePassword()" #passwordForm="ngForm">
        <fieldset class="form-group">
            <label>Name</label>
            <input type="text" [(ngModel)]="password.name" class="form-control" name="name" required="required" #name="ngModel">
        </fieldset>
    
        <fieldset class="form-group">
            <label>URL</label>
            <input type="text" [(ngModel)]="password.url" [ngModelOptions]="{standalone: true}" class="form-control" name="">
        </fieldset>
    
        <fieldset class="form-group">
            <label>Username</label>
            <input type="text" [(ngModel)]="password.username" [ngModelOptions]="{standalone: true}" class="form-control" name="">
        </fieldset>
    
        <fieldset class="form-group">
            <label>Password</label>
            <input type="password" [(ngModel)]="password.password" id="passwordField" class="form-icon" name="password" required="required" #userPassword="ngModel">
            <i class="bi bi-eye-slash" id="togglePassword" (click)="togglePassword()"></i>
        </fieldset>
    
        <fieldset class="form-group">
            <label>Notes</label>
            <input type="text" [(ngModel)]="password.notes" [ngModelOptions]="{standalone: true}" class="form-control" name="notes">
        </fieldset>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
    <br />
    <button *ngIf="!newPassword" class="btn btn-warning" (click)="deletePassword()">Delete</button>
</div>
