<div class="container">
    <div class="alert alert-warning" *ngIf="invalidSelection">Please select at least one option</div>
    <div class="alert alert-success" *ngIf="strongPassword">Password is strong</div>
    <div class="alert alert-success" *ngIf="mediumPassword">Password is reasonably strong, consider increasing the length or including more character types to increase the strength</div>
    <div class="alert alert-warning" *ngIf="weakPassword">Password is not very strong, please consider increasing the length or including more character types</div>
    
    <form (ngSubmit)="generatePassword()">
        <fieldset class="form-group">
            <input type="checkbox" name="include-lowercase" [(ngModel)]="lowercaseSelected" checked>
            <label for="include-lowercase">Include lowercase letters (a-z)</label>
        </fieldset>

        <fieldset class="form-group">
            <input type="checkbox" name="include-uppercase" [(ngModel)]="uppercaseSelected">
            <label for="include-uppercase">Include uppercase letters (A-Z)</label>
        </fieldset>

        <fieldset class="form-group">
            <input type="checkbox" name="include-numbers" [(ngModel)]="numbersSelected">
            <label for="include-numbers">Include numbers (0-9)</label>
        </fieldset>

        <fieldset class="form-group">
            <input type="checkbox" name="include-special" [(ngModel)]="specialsSelected">
            <label for="include-special">Include special characters (! @ # $ % ^ & *)</label>
        </fieldset>

        <fieldset class="form-group">
            <input type="number" name="length" min="5" max="100" [defaultValue]="8" [(ngModel)]="length">
            <label for="length">Password length</label>
        </fieldset>

        <button type="submit" class="btn btn-success">Generate</button>
    </form>

    <div *ngIf="passwordGenerated">{{ password }}</div>
</div>